certifi==2020.4.5.1
cffi==1.14.0
cryptography==2.9.2
decorator==4.4.2
future==0.18.2
imutils==0.5.3
lxml==4.6.3
numpy==1.18.4
opencv-python==4.1.0.25
plotly==4.7.1
pycparser==2.20
pypandoc==1.5
python-telegram-bot==12.7
requests==2.23.0
six==1.14.0
tornado==6.0.4
wrapt==1.12.1
